#pyldap==2.4.28; sys_platform != 'win32'

pyparsing==2.1.10
#PyPDF2==1.26.0
#pyserial==3.1.1
#python-dateutil==2.5.3
#pytz==2016.7
#pyusb==1.0.0
#qrcode==5.3
#reportlab==3.3.0
#requests==2.20.0
#suds-jurko==0.6
#vatnumber==1.2
#vobject==0.9.3
#Werkzeug==0.11.15
#XlsxWriter==0.9.3
#xlwt==1.3.*
#xlrd==1.0.0
#pypiwin32 ; sys_platform == 'win32'

# Python 3 compatibility
#configparser==3.5.0
#future==0.16.0
# Needed for OpenUpgrade
odoorpc==0.6.0