# Aplicacion Catalogo
pygithub

# Dahsboard Ninja
gTTS == 2.5.1
pandas==2.1.2
SQLAlchemy==2.0.32
openpyxl

# PyMySQL
# requests>=2.28.2
# urllib3==1.26.5
# pyopenssl==21.0.0
# xlrd==2.0.1
# SQLAlchemy==2.0.32
