psycopg2-binary

#pyOpenSSL
pandas

altair
appdirs
asn1crypto
attrs

bcrypt
beautifulsoup4
bokeh
cached-property
cachetools
certifi
chardet
charset-normalizer
compressed-rtf
cryptography
cssselect
cssutils
cycler
decorator
defusedxml
dict2xml
dnspython
docutils
ebaysdk
email-validator
entrypoints
et-xmlfile
extract-msg
ftputil
Genshi
gevent
greenlet
html2text
idna
IMAPClient
importlib-metadata
isodate
Jinja2
jsonschema
kiwisolver
libsass
lxml
Mako
MarkupSafe

matplotlib
mock
mpld3
num2words
numpy
ofxparse
olefile
openpyxl
packaging

paramiko
passlib
pbr
pdf2image
Pillow
pkgconfig
platformdirs
plotly
premailer
psutil
psycopg2
py3o.formats
py3o.template
pycountry
pycparser
pycryptodome
pycups
pydot
Pygments
pygount
pyjon.utils
pyldap
PyNaCl
pyparsing
PyPDF2
pyrsistent
pyserial

python-dateutil
python-stdnum
pytz
pyusb
PyYAML
pyzbar
qrcode
reportlab
requests
requests-file
requests-pkcs12
requests-toolbelt
retrying
sentry-sdk
six
soupsieve
suds-jurko
toolz
tornado
typing_extensions
tzlocal
Unidecode
urllib3
vatnumber
vobject
Werkzeug
XlsxWriter
xlwt
xmlsig
xmltodict
zeep
zipp
zpl2

cffi

#xmlsec
