xlrd
simplejson
mercadopago
Pigments
requests_oauthlib

# modulo del restaurante nato
#netifaces
#phonenumbers
#num2words

# ot de amic
pdf2image
openpyxl
geopy

# el bueno de mario
#MechanicalSoup
#zpl2
#pyodbc
#jwt
# requerimiento de automatic_backup
pydrive
