# Dependencias para l10n_ar_edi
pyOpenSSL==19.1.0
zeep==3.4.0
paramiko==2.7.1

# dependencia de odoo ETL
ERPpeek==1.7.1

# dependencia para lab
markdown==3.2.2

# dependencia para webkul saas
docker==4.2.0

# dependencia para meli

pdf2image